In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

df = pd.read_csv('https://raw.githubusercontent.com/jackiekazil/data-wrangling/master/data/chp3/data-text.csv')
print(df.head(2))
df1 = pd.read_csv('https://raw.githubusercontent.com/kjam/data-wrangling-pycon/master/data/berlin_weather_oldest.csv')
print(df1.head(2))

                          Indicator PUBLISH STATES  Year WHO region  \
0  Life expectancy at birth (years)      Published  1990     Europe
1  Life expectancy at birth (years)      Published  2000     Europe

  World Bank income group  Country         Sex  Display Value  Numeric  Low  \
0             High-income  Andorra  Both sexes             77     77.0  NaN
1             High-income  Andorra  Both sexes             80     80.0  NaN

   High  Comments
0   NaN       NaN
1   NaN       NaN
             STATION         STATION_NAME      DATE  PRCP  SNWD  SNOW  TMAX  \
0  GHCND:GME00111445  BERLIN TEMPELHOF GM  19310101    46 -9999 -9999 -9999
1  GHCND:GME00111445  BERLIN TEMPELHOF GM  19310102   107 -9999 -9999    50

   TMIN  WDFG  PGTM  ...   WT09  WT07  WT01  WT06  WT05  WT04  WT16  WT08  \
0   -11 -9999 -9999  ...  -9999 -9999 -9999 -9999 -9999 -9999 -9999 -9999
1    11 -9999 -9999  ...  -9999 -9999 -9999 -9999 -9999 -9999 -9999 -9999

   WT18  WT03
0 -9999 -9999
1 -9999 -9999

[2 rows x 21 columns]

In [2]:
df.rename(columns = {'Indicator': 'Indicator_ID'}, inplace = True)
print(df.head(2))

                       Indicator_ID PUBLISH STATES  Year WHO region  \
0  Life expectancy at birth (years)      Published  1990     Europe
1  Life expectancy at birth (years)      Published  2000     Europe

  World Bank income group  Country         Sex  Display Value  Numeric  Low  \
0             High-income  Andorra  Both sexes             77     77.0  NaN
1             High-income  Andorra  Both sexes             80     80.0  NaN

   High  Comments
0   NaN       NaN
1   NaN       NaN

In [3]:
df.sort_values('Year')

,Indicator_ID,PUBLISH STATES,Year,WHO region,World Bank income group,Country,Sex,Display Value,Numeric,Low,High,Comments
0,Life expectancy at birth (years),Published,1990,Europe,High-income,Andorra,Both sexes,77,77.0,NaN,NaN,NaN
1270,Life expectancy at birth (years),Published,1990,Europe,High-income,Germany,Male,72,72.0,NaN,NaN,NaN
3193,Life expectancy at birth (years),Published,1990,Europe,Lower-middle-income,Republic of Moldova,Male,65,65.0,NaN,NaN,NaN
3194,Life expectancy at birth (years),Published,1990,Europe,Lower-middle-income,Republic of Moldova,Both sexes,68,68.0,NaN,NaN,NaN
3197,Life expectancy at age 60 (years),Published,1990,Europe,Lower-middle-income,Republic of Moldova,Male,15,15.0,NaN,NaN,NaN
1264,Life expectancy at birth (years),Published,1990,Europe,High-income,Cyprus,Both sexes,76,76.0,NaN,NaN,NaN
3199,Life expectancy at age 60 (years),Published,1990,Europe,Lower-middle-income,Republic of Moldova,Both sexes,17,17.0,NaN,NaN,NaN
1262,Life expectancy at age 60 (years),Published,1990,Western Pacific,High-income,Cook Islands,Male,17,17.0,NaN,NaN,NaN
1259,Life expectancy at birth (years),Published,1990,Western Pacific,High-income,Cook Islands,Male,67,67.0,NaN,NaN,NaN
3203,Life expectancy at age 60 (years),Published,1990,South-East Asia,Lower-middle-income,Maldives,Female,12,12.0,NaN,NaN,NaN
1273,Life expectancy at age 60 (years),Published,1990,Europe,High-income,Denmark,Both sexes,20,20.0,NaN,NaN,NaN
3204,Life expectancy at birth (years),Published,1990,Western Pacific,Lower-middle-income,Marshall Islands,Female,65,65.0,NaN,NaN,NaN
1253,Life expectancy at birth (years),Published,1990,Western Pacific,High-income,Brunei Darussalam,Both sexes,73,73.0,NaN,NaN,NaN
1247,Life expectancy at age 60 (years),Published,1990,Americas,High-income,Bahamas,Male,17,17.0,NaN,NaN,NaN
3219,Life expectancy at age 60 (years),Published,1990,Western Pacific,Lower-middle-income,Vanuatu,Both sexes,16,16.0,NaN,NaN,NaN
3226,Life expectancy at birth (years),Published,1990,Europe,Upper-middle-income,Bulgaria,Both sexes,71,71.0,NaN,NaN,NaN
1240,Life expectancy at age 60 (years),Published,1990,Europe,High-income,Belgium,Female,23,23.0,NaN,NaN,NaN
1239,Life expectancy at birth (years),Published,1990,Europe,High-income,Belgium,Both sexes,76,76.0,NaN,NaN,NaN
1238,Life expectancy at birth (years),Published,1990,Europe,High-income,Belgium,Female,79,79.0,NaN,NaN,NaN
1237,Life expectancy at birth (years),Published,1990,Europe,High-income,Austria,Both sexes,76,76.0,NaN,NaN,NaN
1236,Life expectancy at birth (years),Published,1990,Europe,High-income,Austria,Male,72,72.0,NaN,NaN,NaN
3207,Life expectancy at birth (years),Published,1990,Western Pacific,Lower-middle-income,Mongolia,Female,64,64.0,NaN,NaN,NaN
3231,Life expectancy at birth (years),Published,1990,Europe,Upper-middle-income,Belarus,Female,76,76.0,NaN,NaN,NaN
3188,Life expectancy at age 60 (years),Published,1990,Africa,Lower-middle-income,Lesotho,Female,17,17.0,NaN,NaN,NaN
1277,Life expectancy at birth (years),Published,1990,Europe,High-income,Estonia,Both sexes,70,70.0,NaN,NaN,NaN
1302,Life expectancy at birth (years),Published,1990,Europe,High-income,Hungary,Male,65,65.0,NaN,NaN,NaN
3158,Life expectancy at birth (years),Published,1990,Europe,Lower-middle-income,Georgia,Male,67,67.0,NaN,NaN,NaN
1300,Life expectancy at birth (years),Published,1990,Europe,High-income,Croatia,Male,69,69.0,NaN,NaN,NaN
3159,Life expectancy at age 60 (years),Published,1990,Europe,Lower-middle-income,Georgia,Both sexes,19,19.0,NaN,NaN,NaN
3160,Life expectancy at age 60 (years),Published,1990,Americas,Lower-middle-income,Guatemala,Female,19,19.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
3175,Life expectancy at age 60 (years),Published,2012,Eastern Mediterranean,Lower-middle-income,Iran (Islamic Republic of),Male,19,19.0,NaN,NaN,NaN
3174,Life expectancy at birth (years),Published,2012,Eastern Mediterranean,Lower-middle-income,Iran (Islamic Republic of),Female,76,76.0,NaN,NaN,NaN
1285,Life expectancy at birth (years),Published,2012,Europe,High-income,France,Both sexes,82,82.0,NaN,NaN,NaN
1286,Life expectancy at age 60 (years),Published,2012,Europe,High-income,France,Both sexes,25,25.0,NaN,NaN,NaN
3171,Life expectancy at birth (years),Published,2012,Eastern Mediterranean,Lower-middle-income,Iran (Islamic Republic of),Male,72,72.0,NaN,NaN,NaN
1288,Life expectancy at age 60 (years),Published,2012,Europe,High-income,United Kingdom of Great Britain and Northern I...,Female,25,25.0,NaN,NaN,NaN
1290,Life expectancy at age 60 (years),Published,2012,Europe,High-income,United Kingdom of Great Britain and Northern I...,Both sexes,24,24.0,NaN,NaN,NaN
1292,Life expectancy at birth (years),Published,2012,Africa,High-income,Equatorial Guinea,Female,57,57.0,NaN,NaN,NaN
3166,Life expectancy at age 60 (years),Published,2012,Americas,Lower-middle-income,Honduras,Male,21,21.0,NaN,NaN,NaN
3165,Life expectancy at birth (years),Published,2012,Americas,Lower-middle-income,Honduras,Both sexes,74,74.0,NaN,NaN,NaN
3163,Life expectancy at age 60 (years),Published,2012,Americas,Lower-middle-income,Guyana,Male,13,13.0,NaN,NaN,NaN
3162,Life expectancy at birth (years),Published,2012,Americas,Lower-middle-income,Guyana,Female,67,67.0,NaN,NaN,NaN
1301,Life expectancy at age 60 (years),Published,2012,Europe,High-income,Croatia,Both sexes,21,21.0,NaN,NaN,NaN
3137,Life expectancy at birth (years),Published,2012,Africa,Lower-middle-income,Cameroon,Male,55,55.0,NaN,NaN,NaN
1303,Life expectancy at birth (years),Published,2012,Europe,High-income,Hungary,Both sexes,75,75.0,NaN,NaN,NaN
3155,Life expectancy at birth (years),Published,2012,Western Pacific,Lower-middle-income,Micronesia (Federated States of),Male,68,68.0,NaN,NaN,NaN
3154,Life expectancy at age 60 (years),Published,2012,Eastern Mediterranean,Lower-middle-income,Egypt,Male,16,16.0,NaN,NaN,NaN
1304,Life expectancy at age 60 (years),Published,2012,Europe,High-income,Hungary,Both sexes,20,20.0,NaN,NaN,NaN
1306,Life expectancy at birth (years),Published,2012,Europe,High-income,Ireland,Female,83,83.0,NaN,NaN,NaN
3150,Life expectancy at age 60 (years),Published,2012,Americas,Lower-middle-income,Ecuador,Male,21,21.0,NaN,NaN,NaN
3148,Life expectancy at birth (years),Published,2012,Americas,Lower-middle-income,Ecuador,Female,78,78.0,NaN,NaN,NaN
3147,Life expectancy at age 60 (years),Published,2012,Eastern Mediterranean,Lower-middle-income,Djibouti,Female,17,17.0,NaN,NaN,NaN
3146,Life expectancy at birth (years),Published,2012,Eastern Mediterranean,Lower-middle-income,Djibouti,Both sexes,61,61.0,NaN,NaN,NaN
3145,Life expectancy at birth (years),Published,2012,Eastern Mediterranean,Lower-middle-income,Djibouti,Female,63,63.0,NaN,NaN,NaN
1309,Life expectancy at age 60 (years),Published,2012,Europe,High-income,Ireland,Female,25,25.0,NaN,NaN,NaN
1316,Life expectancy at birth (years),Published,2012,Europe,High-income,Italy,Both sexes,83,83.0,NaN,NaN,NaN
3141,Life expectancy at birth (years),Published,2012,Africa,Lower-middle-income,Cabo Verde,Both sexes,74,74.0,NaN,NaN,NaN
3139,Life expectancy at age 60 (years),Published,2012,Africa,Lower-middle-income,Cameroon,Female,17,17.0,NaN,NaN,NaN
3156,Life expectancy at age 60 (years),Published,2012,Western Pacific,Lower-middle-income,Micronesia (Federated States of),Male,16,16.0,NaN,NaN,NaN
4655,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Low-income,Zimbabwe,Female,51,51.0,NaN,NaN,NaN

In [4]:
df.rename(columns={'PUBLISH STATES': 'Publication Status'}, inplace=True)

In [5]:
print(df.head())

                        Indicator_ID Publication Status  Year  \
0   Life expectancy at birth (years)          Published  1990
1   Life expectancy at birth (years)          Published  2000
2  Life expectancy at age 60 (years)          Published  2012
3  Life expectancy at age 60 (years)          Published  2000
4   Life expectancy at birth (years)          Published  2012

              WHO region World Bank income group               Country  \
0                 Europe             High-income               Andorra
1                 Europe             High-income               Andorra
2                 Europe             High-income               Andorra
3                 Europe             High-income               Andorra
4  Eastern Mediterranean             High-income  United Arab Emirates

          Sex  Display Value  Numeric  Low  High  Comments
0  Both sexes             77     77.0  NaN   NaN       NaN
1  Both sexes             80     80.0  NaN   NaN       NaN
2      Female             28     28.0  NaN   NaN       NaN
3  Both sexes             23     23.0  NaN   NaN       NaN
4      Female             78     78.0  NaN   NaN       NaN

In [6]:
df.sort_values('Country')

,Indicator_ID,Publication Status,Year,WHO region,World Bank income group,Country,Sex,Display Value,Numeric,Low,High,Comments
2245,Healthy life expectancy (HALE) at birth (years),Published,2012,Eastern Mediterranean,Low-income,Afghanistan,Both sexes,49,49.0,NaN,NaN,NaN
2959,Life expectancy at age 60 (years),Published,1990,Eastern Mediterranean,Low-income,Afghanistan,Male,13,13.0,NaN,NaN,NaN
1396,Life expectancy at age 60 (years),Published,2000,Eastern Mediterranean,Low-income,Afghanistan,Both sexes,15,15.0,NaN,NaN,NaN
1395,Life expectancy at age 60 (years),Published,1990,Eastern Mediterranean,Low-income,Afghanistan,Both sexes,14,14.0,NaN,NaN,NaN
1394,Life expectancy at birth (years),Published,2012,Eastern Mediterranean,Low-income,Afghanistan,Female,61,61.0,NaN,NaN,NaN
1393,Life expectancy at birth (years),Published,2000,Eastern Mediterranean,Low-income,Afghanistan,Female,56,56.0,NaN,NaN,NaN
147,Life expectancy at age 60 (years),Published,2000,Eastern Mediterranean,Low-income,Afghanistan,Female,16,16.0,NaN,NaN,NaN
3363,Healthy life expectancy (HALE) at birth (years),Published,2000,Eastern Mediterranean,Low-income,Afghanistan,Both sexes,45,45.0,NaN,NaN,NaN
2958,Life expectancy at birth (years),Published,2012,Eastern Mediterranean,Low-income,Afghanistan,Both sexes,60,60.0,NaN,NaN,NaN
967,Life expectancy at age 60 (years),Published,2000,Eastern Mediterranean,Low-income,Afghanistan,Male,14,14.0,NaN,NaN,NaN
965,Life expectancy at birth (years),Published,1990,Eastern Mediterranean,Low-income,Afghanistan,Male,49,49.0,NaN,NaN,NaN
3689,Healthy life expectancy (HALE) at birth (years),Published,2012,Eastern Mediterranean,Low-income,Afghanistan,Female,49,49.0,NaN,NaN,NaN
555,Life expectancy at age 60 (years),Published,1990,Eastern Mediterranean,Low-income,Afghanistan,Female,15,15.0,NaN,NaN,NaN
554,Life expectancy at birth (years),Published,1990,Eastern Mediterranean,Low-income,Afghanistan,Both sexes,49,49.0,NaN,NaN,NaN
4456,Healthy life expectancy (HALE) at birth (years),Published,2000,Eastern Mediterranean,Low-income,Afghanistan,Female,45,45.0,NaN,NaN,NaN
4457,Healthy life expectancy (HALE) at birth (years),Published,2012,Eastern Mediterranean,Low-income,Afghanistan,Male,49,49.0,NaN,NaN,NaN
148,Life expectancy at age 60 (years),Published,2012,Eastern Mediterranean,Low-income,Afghanistan,Female,17,17.0,NaN,NaN,NaN
966,Life expectancy at birth (years),Published,2012,Eastern Mediterranean,Low-income,Afghanistan,Male,58,58.0,NaN,NaN,NaN
2957,Life expectancy at birth (years),Published,2000,Eastern Mediterranean,Low-income,Afghanistan,Male,54,54.0,NaN,NaN,NaN
146,Life expectancy at birth (years),Published,2000,Eastern Mediterranean,Low-income,Afghanistan,Both sexes,55,55.0,NaN,NaN,NaN
1793,Life expectancy at age 60 (years),Published,2012,Eastern Mediterranean,Low-income,Afghanistan,Male,15,15.0,NaN,NaN,NaN
2798,Healthy life expectancy (HALE) at birth (years),Published,2000,Eastern Mediterranean,Low-income,Afghanistan,Male,45,45.0,NaN,NaN,NaN
1792,Life expectancy at birth (years),Published,1990,Eastern Mediterranean,Low-income,Afghanistan,Female,50,50.0,NaN,NaN,NaN
1794,Life expectancy at age 60 (years),Published,2012,Eastern Mediterranean,Low-income,Afghanistan,Both sexes,16,16.0,NaN,NaN,NaN
2599,Healthy life expectancy (HALE) at birth (years),Published,2012,Europe,Lower-middle-income,Albania,Female,66,66.0,NaN,NaN,NaN
3691,Healthy life expectancy (HALE) at birth (years),Published,2000,Europe,Lower-middle-income,Albania,Female,64,64.0,NaN,NaN,NaN
302,Life expectancy at age 60 (years),Published,2012,Europe,Lower-middle-income,Albania,Both sexes,19,19.0,NaN,NaN,NaN
2598,Healthy life expectancy (HALE) at birth (years),Published,2000,Europe,Lower-middle-income,Albania,Both sexes,62,62.0,NaN,NaN,NaN
1929,Life expectancy at birth (years),Published,2000,Europe,Lower-middle-income,Albania,Female,73,73.0,NaN,NaN,NaN
4064,Healthy life expectancy (HALE) at birth (years),Published,2012,Europe,Lower-middle-income,Albania,Both sexes,65,65.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1923,Life expectancy at age 60 (years),Published,2000,Africa,Low-income,Zambia,Male,14,14.0,NaN,NaN,NaN
2796,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Low-income,Zambia,Both sexes,49,49.0,NaN,NaN,NaN
681,Life expectancy at age 60 (years),Published,1990,Africa,Low-income,Zambia,Both sexes,15,15.0,NaN,NaN,NaN
1924,Life expectancy at age 60 (years),Published,2012,Africa,Low-income,Zambia,Male,16,16.0,NaN,NaN,NaN
1922,Life expectancy at birth (years),Published,1990,Africa,Low-income,Zambia,Female,47,47.0,NaN,NaN,NaN
3545,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Low-income,Zambia,Female,50,50.0,NaN,NaN,NaN
685,Life expectancy at age 60 (years),Published,1990,Africa,Low-income,Zimbabwe,Female,18,18.0,NaN,NaN,NaN
684,Life expectancy at birth (years),Published,1990,Africa,Low-income,Zimbabwe,Both sexes,62,62.0,NaN,NaN,NaN
683,Life expectancy at birth (years),Published,2000,Africa,Low-income,Zimbabwe,Female,42,42.0,NaN,NaN,NaN
1512,Life expectancy at birth (years),Published,1990,Africa,Low-income,Zimbabwe,Female,64,64.0,NaN,NaN,NaN
3104,Life expectancy at birth (years),Published,2012,Africa,Low-income,Zimbabwe,Male,56,56.0,NaN,NaN,NaN
3105,Life expectancy at birth (years),Published,2000,Africa,Low-income,Zimbabwe,Both sexes,42,42.0,NaN,NaN,NaN
3106,Life expectancy at birth (years),Published,2012,Africa,Low-income,Zimbabwe,Both sexes,58,58.0,NaN,NaN,NaN
3107,Life expectancy at age 60 (years),Published,2000,Africa,Low-income,Zimbabwe,Male,15,15.0,NaN,NaN,NaN
3103,Life expectancy at birth (years),Published,1990,Africa,Low-income,Zimbabwe,Male,60,60.0,NaN,NaN,NaN
294,Life expectancy at birth (years),Published,2012,Africa,Low-income,Zimbabwe,Female,60,60.0,NaN,NaN,NaN
4261,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Low-income,Zimbabwe,Male,48,48.0,NaN,NaN,NaN
2426,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Low-income,Zimbabwe,Male,37,37.0,NaN,NaN,NaN
2797,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Low-income,Zimbabwe,Female,36,36.0,NaN,NaN,NaN
3546,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Low-income,Zimbabwe,Both sexes,49,49.0,NaN,NaN,NaN
1083,Life expectancy at age 60 (years),Published,2000,Africa,Low-income,Zimbabwe,Both sexes,16,16.0,NaN,NaN,NaN
1082,Life expectancy at birth (years),Published,2000,Africa,Low-income,Zimbabwe,Male,42,42.0,NaN,NaN,NaN
1925,Life expectancy at age 60 (years),Published,1990,Africa,Low-income,Zimbabwe,Male,17,17.0,NaN,NaN,NaN
3886,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Low-income,Zimbabwe,Both sexes,37,37.0,NaN,NaN,NaN
1926,Life expectancy at age 60 (years),Published,1990,Africa,Low-income,Zimbabwe,Both sexes,18,18.0,NaN,NaN,NaN
1927,Life expectancy at age 60 (years),Published,2012,Africa,Low-income,Zimbabwe,Both sexes,18,18.0,NaN,NaN,NaN
1514,Life expectancy at age 60 (years),Published,2012,Africa,Low-income,Zimbabwe,Female,19,19.0,NaN,NaN,NaN
1513,Life expectancy at age 60 (years),Published,2000,Africa,Low-income,Zimbabwe,Female,16,16.0,NaN,NaN,NaN
295,Life expectancy at age 60 (years),Published,2012,Africa,Low-income,Zimbabwe,Male,17,17.0,NaN,NaN,NaN
4655,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Low-income,Zimbabwe,Female,51,51.0,NaN,NaN,NaN

In [7]:
columns = df.columns.tolist()

In [8]:
print(columns)

['Indicator_ID', 'Publication Status', 'Year', 'WHO region', 'World Bank income group', 'Country', 'Sex', 'Display Value', 'Numeric', 'Low', 'High', 'Comments']

In [9]:
new_columns = ['Country', 'Indicator_ID', 'Publication Status', 'Year', 'WHO region', 'World Bank income group', 'Sex', 'Display Value', 'Numeric', 'Low', 'High', 'Comments']
df.reindex(columns = new_columns)

,Country,Indicator_ID,Publication Status,Year,WHO region,World Bank income group,Sex,Display Value,Numeric,Low,High,Comments
0,Andorra,Life expectancy at birth (years),Published,1990,Europe,High-income,Both sexes,77,77.0,NaN,NaN,NaN
1,Andorra,Life expectancy at birth (years),Published,2000,Europe,High-income,Both sexes,80,80.0,NaN,NaN,NaN
2,Andorra,Life expectancy at age 60 (years),Published,2012,Europe,High-income,Female,28,28.0,NaN,NaN,NaN
3,Andorra,Life expectancy at age 60 (years),Published,2000,Europe,High-income,Both sexes,23,23.0,NaN,NaN,NaN
4,United Arab Emirates,Life expectancy at birth (years),Published,2012,Eastern Mediterranean,High-income,Female,78,78.0,NaN,NaN,NaN
5,Antigua and Barbuda,Life expectancy at birth (years),Published,2000,Americas,High-income,Male,72,72.0,NaN,NaN,NaN
6,Antigua and Barbuda,Life expectancy at age 60 (years),Published,1990,Americas,High-income,Male,17,17.0,NaN,NaN,NaN
7,Antigua and Barbuda,Life expectancy at age 60 (years),Published,2012,Americas,High-income,Both sexes,22,22.0,NaN,NaN,NaN
8,Australia,Life expectancy at birth (years),Published,2012,Western Pacific,High-income,Male,81,81.0,NaN,NaN,NaN
9,Australia,Life expectancy at birth (years),Published,2000,Western Pacific,High-income,Both sexes,80,80.0,NaN,NaN,NaN
10,Australia,Life expectancy at birth (years),Published,2012,Western Pacific,High-income,Both sexes,83,83.0,NaN,NaN,NaN
11,Austria,Life expectancy at birth (years),Published,2012,Europe,High-income,Female,83,83.0,NaN,NaN,NaN
12,Austria,Life expectancy at age 60 (years),Published,2012,Europe,High-income,Female,25,25.0,NaN,NaN,NaN
13,Belgium,Life expectancy at birth (years),Published,2012,Europe,High-income,Female,83,83.0,NaN,NaN,NaN
14,Bahrain,Life expectancy at birth (years),Published,2000,Eastern Mediterranean,High-income,Male,73,73.0,NaN,NaN,NaN
15,Bahrain,Life expectancy at birth (years),Published,1990,Eastern Mediterranean,High-income,Female,74,74.0,NaN,NaN,NaN
16,Bahrain,Life expectancy at age 60 (years),Published,1990,Eastern Mediterranean,High-income,Male,17,17.0,NaN,NaN,NaN
17,Bahamas,Life expectancy at birth (years),Published,2012,Americas,High-income,Male,72,72.0,NaN,NaN,NaN
18,Bahamas,Life expectancy at age 60 (years),Published,2000,Americas,High-income,Both sexes,21,21.0,NaN,NaN,NaN
19,Barbados,Life expectancy at birth (years),Published,1990,Americas,High-income,Male,71,71.0,NaN,NaN,NaN
20,Barbados,Life expectancy at age 60 (years),Published,2012,Americas,High-income,Female,25,25.0,NaN,NaN,NaN
21,Barbados,Life expectancy at age 60 (years),Published,2012,Americas,High-income,Both sexes,23,23.0,NaN,NaN,NaN
22,Brunei Darussalam,Life expectancy at age 60 (years),Published,1990,Western Pacific,High-income,Female,20,20.0,NaN,NaN,NaN
23,Brunei Darussalam,Life expectancy at age 60 (years),Published,2000,Western Pacific,High-income,Female,22,22.0,NaN,NaN,NaN
24,Brunei Darussalam,Life expectancy at age 60 (years),Published,2012,Western Pacific,High-income,Female,21,21.0,NaN,NaN,NaN
25,Canada,Life expectancy at birth (years),Published,2000,Americas,High-income,Female,82,82.0,NaN,NaN,NaN
26,Canada,Life expectancy at age 60 (years),Published,2000,Americas,High-income,Male,21,21.0,NaN,NaN,NaN
27,Canada,Life expectancy at age 60 (years),Published,1990,Americas,High-income,Female,24,24.0,NaN,NaN,NaN
28,Switzerland,Life expectancy at birth (years),Published,1990,Europe,High-income,Male,74,74.0,NaN,NaN,NaN
29,Switzerland,Life expectancy at birth (years),Published,2012,Europe,High-income,Both sexes,83,83.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
4626,Serbia,Healthy life expectancy (HALE) at birth (years),Published,2012,Europe,Upper-middle-income,Female,67,67.0,NaN,NaN,NaN
4627,Suriname,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,Upper-middle-income,Both sexes,66,66.0,NaN,NaN,NaN
4628,Sweden,Healthy life expectancy (HALE) at birth (years),Published,2012,Europe,High-income,Both sexes,72,72.0,NaN,NaN,NaN
4629,Swaziland,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Lower-middle-income,Female,47,47.0,NaN,NaN,NaN
4630,Seychelles,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Upper-middle-income,Male,61,61.0,NaN,NaN,NaN
4631,Syrian Arab Republic,Healthy life expectancy (HALE) at birth (years),Published,2000,Eastern Mediterranean,Lower-middle-income,Female,64,64.0,NaN,NaN,NaN
4632,Chad,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Low-income,Female,44,44.0,NaN,NaN,NaN
4633,Thailand,Healthy life expectancy (HALE) at birth (years),Published,2000,South-East Asia,Lower-middle-income,Male,59,59.0,NaN,NaN,NaN
4634,Thailand,Healthy life expectancy (HALE) at birth (years),Published,2000,South-East Asia,Lower-middle-income,Female,65,65.0,NaN,NaN,NaN
4635,Tajikistan,Healthy life expectancy (HALE) at birth (years),Published,2000,Europe,Low-income,Both sexes,56,56.0,NaN,NaN,NaN
4636,Tajikistan,Healthy life expectancy (HALE) at birth (years),Published,2012,Europe,Low-income,Female,60,60.0,NaN,NaN,NaN
4637,Tonga,Healthy life expectancy (HALE) at birth (years),Published,2012,Western Pacific,Lower-middle-income,Female,61,61.0,NaN,NaN,NaN
4638,Trinidad and Tobago,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,High-income,Female,64,64.0,NaN,NaN,NaN
4639,Trinidad and Tobago,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,High-income,Both sexes,61,61.0,NaN,NaN,NaN
4640,Tunisia,Healthy life expectancy (HALE) at birth (years),Published,2000,Eastern Mediterranean,Lower-middle-income,Male,63,63.0,NaN,NaN,NaN
4641,Tuvalu,Healthy life expectancy (HALE) at birth (years),Published,2012,Western Pacific,Upper-middle-income,Male,57,57.0,NaN,NaN,NaN
4642,Uganda,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Low-income,Female,40,40.0,NaN,NaN,NaN
4643,Ukraine,Healthy life expectancy (HALE) at birth (years),Published,2000,Europe,Lower-middle-income,Both sexes,60,60.0,NaN,NaN,NaN
4644,Uruguay,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,Upper-middle-income,Male,65,65.0,NaN,NaN,NaN
4645,Uruguay,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,Upper-middle-income,Female,70,70.0,NaN,NaN,NaN
4646,Uruguay,Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,Upper-middle-income,Both sexes,68,68.0,NaN,NaN,NaN
4647,Saint Vincent and the Grenadines,Healthy life expectancy (HALE) at birth (years),Published,2000,Americas,Upper-middle-income,Both sexes,61,61.0,NaN,NaN,NaN
4648,Venezuela (Bolivarian Republic of),Healthy life expectancy (HALE) at birth (years),Published,2012,Americas,Upper-middle-income,Both sexes,66,66.0,NaN,NaN,NaN
4649,Vanuatu,Healthy life expectancy (HALE) at birth (years),Published,2000,Western Pacific,Lower-middle-income,Male,59,59.0,NaN,NaN,NaN
4650,Samoa,Healthy life expectancy (HALE) at birth (years),Published,2012,Western Pacific,Lower-middle-income,Male,62,62.0,NaN,NaN,NaN
4651,Samoa,Healthy life expectancy (HALE) at birth (years),Published,2012,Western Pacific,Lower-middle-income,Female,66,66.0,NaN,NaN,NaN
4652,Yemen,Healthy life expectancy (HALE) at birth (years),Published,2012,Eastern Mediterranean,Low-income,Both sexes,54,54.0,NaN,NaN,NaN
4653,South Africa,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Upper-middle-income,Male,49,49.0,NaN,NaN,NaN
4654,Zambia,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Low-income,Both sexes,36,36.0,NaN,NaN,NaN
4655,Zimbabwe,Healthy life expectancy (HALE) at birth (years),Published,2012,Africa,Low-income,Female,51,51.0,NaN,NaN,NaN

In [10]:
regions = np.array(df['WHO region'])
print(regions)

['Europe' 'Europe' 'Europe' ... 'Africa' 'Africa' 'Africa']

In [11]:
print(df.iloc[[11,24,37]])

                         Indicator_ID Publication Status  Year  \
11   Life expectancy at birth (years)          Published  2012
24  Life expectancy at age 60 (years)          Published  2012
37  Life expectancy at age 60 (years)          Published  2012

         WHO region World Bank income group            Country     Sex  \
11           Europe             High-income            Austria  Female
24  Western Pacific             High-income  Brunei Darussalam  Female
37           Europe             High-income             Cyprus  Female

    Display Value  Numeric  Low  High  Comments
11             83     83.0  NaN   NaN       NaN
24             21     21.0  NaN   NaN       NaN
37             26     26.0  NaN   NaN       NaN

In [33]:
#5,12,23,36

df10 = df.index.isin([5,12,23,36])

print(df[~df10].head(10))

                            Indicator PUBLISH STATES  Year  \
0    Life expectancy at birth (years)      Published  1990
1    Life expectancy at birth (years)      Published  2000
2   Life expectancy at age 60 (years)      Published  2012
3   Life expectancy at age 60 (years)      Published  2000
4    Life expectancy at birth (years)      Published  2012
6   Life expectancy at age 60 (years)      Published  1990
7   Life expectancy at age 60 (years)      Published  2012
8    Life expectancy at birth (years)      Published  2012
9    Life expectancy at birth (years)      Published  2000
10   Life expectancy at birth (years)      Published  2012

               WHO region World Bank income group               Country  \
0                  Europe             High-income               Andorra
1                  Europe             High-income               Andorra
2                  Europe             High-income               Andorra
3                  Europe             High-income               Andorra
4   Eastern Mediterranean             High-income  United Arab Emirates
6                Americas             High-income   Antigua and Barbuda
7                Americas             High-income   Antigua and Barbuda
8         Western Pacific             High-income             Australia
9         Western Pacific             High-income             Australia
10        Western Pacific             High-income             Australia

           Sex  Display Value  Numeric  Low  High  Comments
0   Both sexes             77     77.0  NaN   NaN       NaN
1   Both sexes             80     80.0  NaN   NaN       NaN
2       Female             28     28.0  NaN   NaN       NaN
3   Both sexes             23     23.0  NaN   NaN       NaN
4       Female             78     78.0  NaN   NaN       NaN
6         Male             17     17.0  NaN   NaN       NaN
7   Both sexes             22     22.0  NaN   NaN       NaN
8         Male             81     81.0  NaN   NaN       NaN
9   Both sexes             80     80.0  NaN   NaN       NaN
10  Both sexes             83     83.0  NaN   NaN       NaN

In [13]:
users = pd.read_csv('https://raw.githubusercontent.com/ben519/DataWrangling/master/Data/users.csv')
sessions = pd.read_csv('https://raw.githubusercontent.com/ben519/DataWrangling/master/Data/sessions.csv')
products = pd.read_csv('https://raw.githubusercontent.com/ben519/DataWrangling/master/Data/products.csv')
transactions = pd.read_csv('https://raw.githubusercontent.com/ben519/DataWrangling/master/Data/transactions.csv')

In [14]:
print(users.head())
print(sessions.head())
print(products.head())
print(transactions.head())

   UserID      User  Gender  Registered   Cancelled
0       1   Charles    male  2012-12-21         NaN
1       2     Pedro    male  2010-08-01  2010-08-08
2       3  Caroline  female  2012-10-23  2016-06-07
3       4   Brielle  female  2013-07-17         NaN
4       5  Benjamin    male  2010-11-25         NaN
   SessionID SessionDate  UserID
0          1  2010-01-05       2
1          2  2010-08-01       2
2          3  2010-11-25       2
3          4  2011-09-21       5
4          5  2011-10-19       4
   ProductID Product  Price
0          1       A  14.16
1          2       B  33.04
2          3       C  10.65
3          4       D  10.02
4          5       E  29.66
   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1

In [15]:
t_and_u = pd.merge(transactions, users, how='left', on='UserID')

In [16]:
print(t_and_u[t_and_u['UserID'].isna()])
#print(t_and_u.head(100))

   TransactionID TransactionDate  UserID  ProductID  Quantity User Gender  \
7              8      2014-04-24     NaN          2         3  NaN    NaN

  Registered Cancelled
7        NaN       NaN

In [17]:
inner = pd.merge(transactions, users, how='inner', on='UserID')
print(inner.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7 entries, 0 to 6
Data columns (total 9 columns):
TransactionID      7 non-null int64
TransactionDate    7 non-null object
UserID             7 non-null float64
ProductID          7 non-null int64
Quantity           7 non-null int64
User               7 non-null object
Gender             7 non-null object
Registered         7 non-null object
Cancelled          6 non-null object
dtypes: float64(1), int64(3), object(5)
memory usage: 560.0+ bytes
None

In [18]:
outer = pd.merge(transactions, users, how='outer', on='UserID')
print(outer)

    TransactionID TransactionDate  UserID  ProductID  Quantity      User  \
0             1.0      2010-08-21     7.0        2.0       1.0       NaN
1             9.0      2015-04-24     7.0        4.0       3.0       NaN
2             2.0      2011-05-26     3.0        4.0       1.0  Caroline
3             3.0      2011-06-16     3.0        3.0       1.0  Caroline
4             7.0      2013-12-30     3.0        4.0       1.0  Caroline
5            10.0      2016-05-08     3.0        4.0       4.0  Caroline
6             4.0      2012-08-26     1.0        2.0       3.0   Charles
7             5.0      2013-06-06     2.0        4.0       1.0     Pedro
8             6.0      2013-12-23     2.0        5.0       6.0     Pedro
9             8.0      2014-04-24     NaN        2.0       3.0       NaN
10            NaN             NaN     4.0        NaN       NaN   Brielle
11            NaN             NaN     5.0        NaN       NaN  Benjamin

    Gender  Registered   Cancelled
0      NaN         NaN         NaN
1      NaN         NaN         NaN
2   female  2012-10-23  2016-06-07
3   female  2012-10-23  2016-06-07
4   female  2012-10-23  2016-06-07
5   female  2012-10-23  2016-06-07
6     male  2012-12-21         NaN
7     male  2010-08-01  2010-08-08
8     male  2010-08-01  2010-08-08
9      NaN         NaN         NaN
10  female  2013-07-17         NaN
11    male  2010-11-25         NaN

In [19]:
print(pd.merge(users, sessions, left_on=['UserID', 'Registered'], right_on=['UserID', 'SessionDate']))

   UserID     User  Gender  Registered   Cancelled  SessionID SessionDate
0       2    Pedro    male  2010-08-01  2010-08-08          2  2010-08-01
1       4  Brielle  female  2013-07-17         NaN          9  2013-07-17

In [20]:
users['key'] = 0
products['key'] = 0

users.merge(products, how='outer')

,UserID,User,Gender,Registered,Cancelled,key,ProductID,Product,Price
0,1,Charles,male,2012-12-21,NaN,0,1,A,14.16
1,1,Charles,male,2012-12-21,NaN,0,2,B,33.04
2,1,Charles,male,2012-12-21,NaN,0,3,C,10.65
3,1,Charles,male,2012-12-21,NaN,0,4,D,10.02
4,1,Charles,male,2012-12-21,NaN,0,5,E,29.66
5,2,Pedro,male,2010-08-01,2010-08-08,0,1,A,14.16
6,2,Pedro,male,2010-08-01,2010-08-08,0,2,B,33.04
7,2,Pedro,male,2010-08-01,2010-08-08,0,3,C,10.65
8,2,Pedro,male,2010-08-01,2010-08-08,0,4,D,10.02
9,2,Pedro,male,2010-08-01,2010-08-08,0,5,E,29.66
10,3,Caroline,female,2012-10-23,2016-06-07,0,1,A,14.16
11,3,Caroline,female,2012-10-23,2016-06-07,0,2,B,33.04
12,3,Caroline,female,2012-10-23,2016-06-07,0,3,C,10.65
13,3,Caroline,female,2012-10-23,2016-06-07,0,4,D,10.02
14,3,Caroline,female,2012-10-23,2016-06-07,0,5,E,29.66
15,4,Brielle,female,2013-07-17,NaN,0,1,A,14.16
16,4,Brielle,female,2013-07-17,NaN,0,2,B,33.04
17,4,Brielle,female,2013-07-17,NaN,0,3,C,10.65
18,4,Brielle,female,2013-07-17,NaN,0,4,D,10.02
19,4,Brielle,female,2013-07-17,NaN,0,5,E,29.66
20,5,Benjamin,male,2010-11-25,NaN,0,1,A,14.16
21,5,Benjamin,male,2010-11-25,NaN,0,2,B,33.04
22,5,Benjamin,male,2010-11-25,NaN,0,3,C,10.65
23,5,Benjamin,male,2010-11-25,NaN,0,4,D,10.02
24,5,Benjamin,male,2010-11-25,NaN,0,5,E,29.66

In [21]:
transactions.groupby(['UserID', 'ProductID'])['Quantity'].sum()

UserID  ProductID
1.0     2            3
2.0     4            1
        5            6
3.0     3            1
        4            6
7.0     2            1
        4            3
Name: Quantity, dtype: int64

In [24]:
t1 = transactions.merge(transactions, on='TransactionID')
print(t1.head(2))

   TransactionID TransactionDate_x  UserID_x  ProductID_x  Quantity_x  \
0              1        2010-08-21       7.0            2           1
1              2        2011-05-26       3.0            4           1

  TransactionDate_y  UserID_y  ProductID_y  Quantity_y
0        2010-08-21       7.0            2           1
1        2011-05-26       3.0            4           1

In [25]:
pd.merge(users, transactions.groupby('UserID').first(), how='left', on='UserID')

,UserID,User,Gender,Registered,Cancelled,key,TransactionID,TransactionDate,ProductID,Quantity
0,1,Charles,male,2012-12-21,NaN,0,4.0,2012-08-26,2.0,3.0
1,2,Pedro,male,2010-08-01,2010-08-08,0,5.0,2013-06-06,4.0,1.0
2,3,Caroline,female,2012-10-23,2016-06-07,0,2.0,2011-05-26,4.0,1.0
3,4,Brielle,female,2013-07-17,NaN,0,NaN,NaN,NaN,NaN
4,5,Benjamin,male,2010-11-25,NaN,0,NaN,NaN,NaN,NaN